/* hi */

@font-face {
    font-family: 'League Gothic';
    src: url('/static/webfonts/League_Gothic-webfont.eot?') format('eot'),
         url('/static/webfonts/League_Gothic-webfont.woff') format('woff'),
         url('/static/webfonts/League_Gothic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Blackout Sunrise';
    src: url('/static/webfonts/blackout_sunrise-webfont.eot?') format('eot'),
         url('/static/webfonts/blackout_sunrise-webfont.woff') format('woff'),
         url('/static/webfonts/blackout_sunrise-webfont.ttf') format('truetype');
}


h1 {
    font-family: 'Blackout Sunrise', sans-serif;
    font-weight: normal;
    font-size: 4em;
    line-height: 1.5em;
}

h1 a:link, h1 a:visited, h1 a:active {
    color: inherit;
    border-bottom: 2px solid transparent;
}

h1 a:hover {
    text-decoration: none;
    border-bottom: 2px solid black;
}

h1 img.avatar {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

p {
    font-family: 'League Gothic', sans-serif;
    font-size: 1.8em;
    line-height: 1em;
}

.post {
    margin-bottom: 2ex;
}

.post .body {
    font-size: 1.5em;
    line-height: 1em;
}

.post .body:focus {
    outline: none;
}

.post .body input {
    font-family: 'League Gothic', sans-serif;
    font-size: 1em;
    line-height: 1em;    
}

.post .time {
    font-size: 1em;
}