/* hi */

@font-face {
    font-family: 'League Gothic';
    src: url('/static/webfonts/League_Gothic-webfont.eot?') format('eot'),
         url('/static/webfonts/League_Gothic-webfont.woff') format('woff'),
         url('/static/webfonts/League_Gothic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Blackout Sunrise';
    src: url('/static/webfonts/blackout_sunrise-webfont.eot?') format('eot'),
         url('/static/webfonts/blackout_sunrise-webfont.woff') format('woff'),
         url('/static/webfonts/blackout_sunrise-webfont.ttf') format('truetype');
}


h1 {
    font-family: 'Blackout Sunrise', sans-serif;
    font-weight: normal;
    font-size: 6em;
    line-height: 1.5em;
}

p {
    font-family: 'League Gothic', sans-serif;
    font-size: 1.8em;
    line-height: 1em;
}

.post .body {
    font-size: 1.5em;
    line-height: 1em;
}

.post .body input {
    font-family: 'League Gothic', sans-serif;
    font-size: 1em;
    line-height: 1em;    
}

.post .time {
    font-size: 1em;
}