/* hi */

h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 4em;
    line-height: 1.5em;
}

h1 a:link, h1 a:visited, h1 a:active {
    color: inherit;
    border-bottom: 2px solid transparent;
}

h1 a:hover {
    text-decoration: none;
    border-bottom: 2px solid black;
}

h1 img.avatar {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

p {
    font-family: serif;
    font-size: 1.8em;
    line-height: 1em;
}

.post {
    margin-bottom: 2ex;
}

.post .body {
    font-size: 1.5em;
    line-height: 1em;
}

.post .body:focus {
    outline: none;
}

.post .time {
    font-size: 1em;
}
